@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-serif-v8-cyrillic-ext_latin_cyrillic-regular.eot');
  /* IE9 Compat Modes */
  src: local('PT Serif'), local('PTSerif-Regular'), url('../fonts/pt-serif-v8-cyrillic-ext_latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/pt-serif-v8-cyrillic-ext_latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/pt-serif-v8-cyrillic-ext_latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/pt-serif-v8-cyrillic-ext_latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/pt-serif-v8-cyrillic-ext_latin_cyrillic-regular.svg#PTSerif') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-serif-v8-cyrillic-ext_latin_cyrillic-700.eot');
  /* IE9 Compat Modes */
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url('../fonts/pt-serif-v8-cyrillic-ext_latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/pt-serif-v8-cyrillic-ext_latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/pt-serif-v8-cyrillic-ext_latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/pt-serif-v8-cyrillic-ext_latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/pt-serif-v8-cyrillic-ext_latin_cyrillic-700.svg#PTSerif') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v8-cyrillic-ext_latin_cyrillic-regular.eot');
  /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'), url('../fonts/pt-sans-v8-cyrillic-ext_latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/pt-sans-v8-cyrillic-ext_latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/pt-sans-v8-cyrillic-ext_latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/pt-sans-v8-cyrillic-ext_latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/pt-sans-v8-cyrillic-ext_latin_cyrillic-regular.svg#PTSans') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v8-cyrillic-ext_latin_cyrillic-700.eot');
  /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('../fonts/pt-sans-v8-cyrillic-ext_latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/pt-sans-v8-cyrillic-ext_latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/pt-sans-v8-cyrillic-ext_latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/pt-sans-v8-cyrillic-ext_latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/pt-sans-v8-cyrillic-ext_latin_cyrillic-700.svg#PTSans') format('svg');
  /* Legacy iOS */
}
/* colors */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.65em;
  color: #110a0a;
  background-color: #fafafa;
  text-align: left;
  min-width: 320px;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  body {
    background-color: #ffffff;
  }
}
.page-heading {
  font-family: 'PT Serif', 'Times New Roman', serif;
  font-size: 2.3em;
  line-height: 1.3em;
  color: #ffffff;
  font-weight: 400;
  margin: 0;
}
@media (max-width: 768px) {
  .page-heading {
    font-size: 1.4em;
    line-height: 2em;
    background-color: #e23a59;
  }
}
.base-link {
  text-decoration: none;
  font-weight: 700;
  color: #e23a59;
  transition: opacity 0.3s linear;
}
.base-link:hover {
  opacity: 0.7;
}
.base-link:active {
  color: #000000;
  opacity: 0.8;
}
.base-link:focus {
  color: #272961;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-down {
  0% {
    -webkit-transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fade-in-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-down {
  0% {
    -webkit-transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(-50%);
  }
}
@keyframes slide-in-down {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(-50%);
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(2000px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes wabble {
  0%,
  100% {
    transform: rotateZ(0deg);
  }
  12.5% {
    transform: rotateZ(-20deg);
  }
  25% {
    transform: rotateZ(18deg);
  }
  37.5% {
    transform: rotateZ(-15deg);
  }
  50% {
    transform: rotateZ(13deg);
  }
  62.5% {
    transform: rotateZ(-10deg);
  }
  75% {
    transform: rotateZ(7deg);
  }
  87.5% {
    transform: rotateZ(-3deg);
  }
}
@-webkit-keyframes wabble {
  0%,
  100% {
    -webkit-transform: rotateZ(0deg);
  }
  12.5% {
    -webkit-transform: rotateZ(-20deg);
  }
  25% {
    -webkit-transform: rotateZ(18deg);
  }
  37.5% {
    -webkit-transform: rotateZ(-15deg);
  }
  50% {
    -webkit-transform: rotateZ(13deg);
  }
  62.5% {
    -webkit-transform: rotateZ(-10deg);
  }
  75% {
    -webkit-transform: rotateZ(7deg);
  }
  87.5% {
    -webkit-transform: rotateZ(-3deg);
  }
}
@-webkit-keyframes fade-out-left {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes fade-out-left {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
.paginator {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 248px;
  margin-left: 1364px;
  z-index: 1000;
}
.paginator__item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #272961;
  opacity: 0.7;
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: -51px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: translateZ(0);
}
.paginator__item_active {
  background-color: #272961;
}
.paginator__item:hover {
  opacity: 1;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
}
.paginator__item:active {
  background-color: #272961;
}
@media (max-width: 1440px) {
  .paginator {
    margin-left: 94%;
  }
}
@media (max-width: 1280px) {
  .paginator {
    display: none;
  }
}
.btn {
  display: inline-block;
  background-color: #e23a59;
  color: #ffffff;
  text-transform: uppercase;
  padding: 11px 40px;
  text-decoration: none;
  transition: all 0.3s linear;
  cursor: pointer;
  -webkit-appearance: none;
}
.btn:hover {
  background-color: #cc3253;
  color: rgba(255, 255, 255, 0.5);
}
.btn:active {
  background-color: #cc3253;
  color: rgba(255, 255, 255, 0.2);
}
.close-btn {
  display: none;
}
@media (max-width: 910px) {
  .close-btn {
    display: block;
    z-index: 1400;
    background-color: #e23a59;
    position: absolute;
    width: 60px;
    height: 38px;
    top: 15px;
    right: 5%;
    border: none;
    outline: none;
  }
  .close-btn::after {
    content: '';
    display: block;
    width: 28px;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    top: 14px;
    left: 19px;
    transform: rotate(43deg);
  }
  .close-btn::before {
    content: '';
    display: block;
    width: 28px;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    top: 14px;
    left: 18px;
    transform: rotate(140deg);
  }
}
@media (max-width: 472px) {
  .close-btn {
    width: 48px;
    height: 31px;
    top: 8px;
    right: 16px;
  }
}
.table {
  background-color: #f2f2f2;
  text-transform: uppercase;
  color: #757575;
  text-align: center;
  font-size: 1.05em;
  margin: 110px auto auto;
  border-collapse: collapse;
  width: 100%;
  position: relative;
}
.table tr:nth-child(even) {
  background-color: #e3e3e3;
}
.table__heading {
  color: #ffffff;
  font-weight: 400;
  width: 226px;
  border-right: 20px solid #ffffff;
  border-left: 2px solid #ffffff;
  padding-top: 20px;
  padding-bottom: 15px;
}
.table__heading_logo {
  width: 290px;
}
.table__heading_day,
.table__heading_place {
  background-color: #e23a59;
}
.table__heading_time,
.table__heading_age {
  background-color: #272961;
}
.table__btn {
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.table__cell {
  border-right: 20px solid #ffffff;
  border-left: 2px solid #ffffff;
  padding: 24px 10px;
  font-size: 24px;
}
.table__icon {
  width: 65px;
  height: 56px;
  display: block;
  margin: auto auto 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.table__icon_calendar {
  background-image: url('../img/calendar.svg');
}
.table__icon_time {
  background-image: url('../img/time.svg');
}
.table__icon_marker {
  background-image: url('../img/marker.svg');
}
.table__icon_people {
  background-image: url('../img/people.svg');
}
.table__correction {
  color: #757575;
  font-size: 0.9em;
  word-spacing: 4px;
}
.table__correction_attention {
  color: #e23a59;
  font-weight: 700;
}
.table::before {
  content: '*';
  display: inline-block;
  position: absolute;
  right: 0;
  top: -35px;
  font-size: 6em;
  font-weight: 700;
  color: #e23a59;
}
@media (max-width: 1180px) {
  .table__heading {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
  }
  .table__cell {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
  }
}
@media (max-width: 768px) {
  .table {
    font-size: 0.95em;
    margin-top: 70px;
  }
  .table__cell {
    border-right: none;
    padding: 8px 0;
    font-size: 21px;
  }
  .table__heading {
    padding-bottom: 0;
    border-right: none;
  }
  .table__correction {
    text-align: center;
  }
}
@media (max-width: 510px) {
  .table {
    font-size: 0.8em;
    line-height: 1.3em;
    margin-top: 38px;
  }
  .table__heading {
    padding-top: 0;
    font-size: 0;
    width: 94px;
  }
  .table__cell {
    font-size: 16px;
  }
  .table__logo {
    width: 83%;
    height: auto;
    margin-top: 11px;
  }
  .table__icon {
    width: 26px;
    height: 29px;
    margin-top: 5px;
    margin-bottom: -25px;
  }
  .table::before {
    font-size: 4em;
    top: -15px;
  }
  .table__correction {
    line-height: 1.3em;
    min-width: 273px;
    max-width: 337px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 320px) {
  .table__correction {
    font-size: 0.8em;
    line-height: 1.2em;
    max-width: 273px;
  }
}
.close-cross {
  border: none;
  background-color: transparent;
  position: relative;
  display: none;
  outline: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.close-cross::after {
  content: '';
  display: block;
  width: 22px;
  height: 4px;
  background-color: #272961;
  position: absolute;
  top: 9px;
  left: 5px;
  transform: rotate(43deg);
}
.close-cross::before {
  content: '';
  display: block;
  width: 22px;
  height: 4px;
  background-color: #272961;
  position: absolute;
  top: 9px;
  left: 5px;
  transform: rotate(140deg);
}
@media (max-width: 375px) {
  .close-cross::before {
    left: 4px;
  }
}
.close-cross:hover {
  opacity: 0.8;
}
.input-text {
  border-radius: 3px;
  width: 100%;
  height: 43px;
  padding-left: 10px;
  outline: none;
  background-color: #f2f2f2;
  border: 2px solid #e3e3e3;
  -webkit-appearance: none;
}
.input-text:hover {
  background-color: #e3e3e3;
}
.input-text:active {
  border: 2px solid #272961;
}
.input-text:focus {
  border: 2px solid #e23a59;
}
.select-list {
  background-color: #f2f2f2;
  border: 2px solid #e3e3e3;
  width: 100%;
  height: 43px;
  outline: none;
}
.select-list:hover {
  background-color: #e3e3e3;
}
.select-list:active {
  border: 2px solid #272961;
}
.select-list:focus {
  border: 2px solid #e23a59;
}
.modal-overlay_show {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  overflow: auto;
}
.modal-post-form {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  width: 652px;
  margin-left: -326px;
  border-top: 8px solid #272961;
  overflow: hidden;
  background-image: linear-gradient(180deg, #ffffff 95%, #e23a59 37%);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 2000;
  padding-bottom: 40px;
  display: none;
}
.modal-post-form_show {
  display: block;
  animation: slide-in-down 0.6s ease;
}
.modal-post-form__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  text-align: left;
}
.modal-post-form__items {
  flex-basis: 250px;
  list-style: none;
  padding: 0;
}
.modal-post-form__item {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 25px;
}
.modal-post-form__btn {
  border: none;
  border-radius: 3px;
  padding: 7px 57px;
  cursor: pointer;
  margin-top: 25px;
}
.modal-post-form__title {
  margin-left: 40px;
  margin-bottom: 0;
  font-size: 1.5em;
  font-weight: 400;
}
.modal-post-form__close-cross {
  display: block;
  margin-left: auto;
  margin-right: 16px;
  margin-top: 10px;
}
.modal-post-form input[type="submit"]:disabled {
  background-color: #757575;
  color: rgba(255, 255, 255, 0.7);
}
.modal-post-form input[type="submit"]:disabled:hover,
.modal-post-form input[type="submit"]:disabled:active {
  background-color: #757575;
}
@media (max-width: 768px) {
  .modal-post-form {
    margin-left: -45%;
    position: absolute;
    width: 90%;
    top: 83%;
    animation: none;
  }
  .modal-post-form__title {
    margin-left: 0;
  }
  .modal-post-form__wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 425px) {
  .modal-post-form {
    transform: none;
    margin-top: 10%;
    margin-left: -50%;
    position: absolute;
    top: 73%;
    left: 55%;
    background-image: linear-gradient(180deg, #ffffff 98%, #e23a59 20%);
    animation: none;
  }
  .modal-post-form__title {
    font-size: 1.1em;
    margin-bottom: 20px;
  }
  .modal-post-form__items {
    margin-bottom: 0;
    margin-top: 0;
  }
  .modal-post-form__wrapper {
    margin-left: 0;
    margin-right: 0;
  }
  .modal-post-form__close-cross {
    margin-right: 13px;
  }
}
.alert {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  width: 600px;
  margin-left: -300px;
  overflow: hidden;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 2100;
  text-align: center;
  display: none;
}
.alert_show {
  display: block;
}
.alert_success .alert__container_header {
  background-color: #272961;
}
.alert_error .alert__container_header {
  background-color: #e23a59;
}
.alert__container_content {
  background-color: #fff;
  padding-bottom: 20px;
}
.alert__container_header {
  padding: 15px 0;
}
.alert__icon {
  display: inline-block;
  vertical-align: middle;
  width: 135px;
  height: 135px;
  background-size: contain;
}
.alert__icon_success {
  background: url('../img/success.svg') no-repeat top center;
}
.alert__icon_error {
  background: url('../img/error.svg') no-repeat top center;
}
.alert__btn {
  border: none;
  border-radius: 3px;
  padding: 7px 57px;
}
.alert__btn_success {
  background-color: #272961;
}
.alert__btn_success:hover {
  background-color: #272961;
}
.alert__btn_success:active {
  background-color: #2f3475;
}
.alert__title {
  display: inline-block;
  text-transform: uppercase;
  margin: 20px auto 0;
}
.alert__message {
  margin-top: 5px;
  padding: 0 5px 0;
}
@media (max-width: 768px) {
  .alert {
    margin-left: -45%;
    width: 90%;
  }
}
@media (max-width: 425px) {
  .alert__message {
    font-size: 0.95em;
    line-height: 1.3em;
  }
  .alert__icon {
    width: 100px;
    height: 100px;
  }
}
.direction-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  width: 1060px;
  height: 333px;
  background-image: linear-gradient(to right, transparent 15%, #f2f2f2 15%);
  position: relative;
}
.direction-item::after {
  content: '';
  height: 336px;
  width: 170px;
  background: url('../img/circle-purple.svg') no-repeat;
  background-size: 100%;
  position: absolute;
  left: -10px;
  top: -3px;
}
.direction-item_jazz-funk::after {
  background-image: url('../img/circle-pink.svg');
}
.direction-item__photo {
  width: 207px;
  height: 207px;
  border-radius: 50%;
  border: 15px solid #272961;
  border-left: 15px solid #2f3475;
  border-top: 15px solid #2f3475;
  background-position: center;
  background-size: cover;
}
.direction-item__photo_contemporary {
  background-image: url('../img/contemporary-desktop.jpg');
}
.direction-item__photo_bodyballet {
  background-image: url('../img/bodyballet-desktop.jpg');
}
.direction-item__photo_jazz-funk {
  background-image: url('../img/jazzfunk-desktop.jpg');
  border-color: #e23a59;
  border-left: 15px solid #cc3253;
  border-top: 15px solid #cc3253;
}
.direction-item__description {
  max-width: 646px;
  margin-bottom: 0;
  margin-top: 10px;
}
.direction-item__title {
  font-family: 'PT Serif', 'Times Nen Roman', serif;
  font-size: 1.8em;
  line-height: 1.6em;
  font-weight: 400;
  margin: 0;
}
.direction-item__btn {
  transform: rotate(270deg);
  position: absolute;
  right: -191px;
  top: 140px;
  width: 332px;
  text-align: center;
  box-shadow: inset 0 24px 43px -23px #121428;
  color: rgba(255, 255, 255, 0.7);
  background-color: #272961;
}
.direction-item__btn:hover {
  background-color: #1d2047;
  color: #ffffff;
}
.direction-item__btn:active {
  background-color: #2f3475;
  color: rgba(255, 255, 255, 0.4);
}
.direction-item__btn_pink {
  background-color: #e23a59;
  box-shadow: inset 0 24px 43px -23px #771f32;
}
.direction-item__btn_pink:hover {
  background-color: #cc3253;
}
@media (max-width: 1210px) {
  .direction-item {
    width: 100%;
  }
  .direction-item::after {
    display: none;
  }
  .direction-item__photo {
    margin-right: 20px;
  }
}
@media (max-width: 1024px) {
  .direction-item__description {
    max-width: 583px;
  }
}
@media (max-width: 960px) {
  .direction-item {
    background-image: none;
    background-color: #ffffff;
    height: 292px;
    width: 90%;
  }
  .direction-item__photo {
    width: 185px;
    height: 185px;
    margin-left: -18px;
  }
  .direction-item__btn {
    width: 292px;
    right: -173px;
    top: 120px;
    display: none;
  }
  .direction-item__description {
    max-width: 420px;
  }
  .direction-item__title {
    font-size: 1.5em;
  }
}
@media (max-width: 680px) {
  .direction-item {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: none;
    width: auto;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .direction-item__btn {
    display: inline-block;
    transform: none;
    position: static;
    width: 80%;
    padding: 8px 30px;
    border-radius: 3px;
  }
  .direction-item__description {
    max-width: 90%;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  .direction-item__title {
    line-height: 1.1em;
  }
  .direction-item__photo {
    margin-right: 0;
  }
}
@media (max-width: 425px) {
  .direction-item {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: none;
    width: 90%;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0;
  }
  .direction-item__description {
    margin-bottom: 20px;
    min-width: 315px;
    font-size: 0.8em;
    line-height: 1.5em;
  }
  .direction-item__title {
    line-height: 1.2em;
    font-size: 1.5em;
  }
  .direction-item__wrapper {
    margin-top: 10px;
  }
}
@media (max-width: 320px) {
  .direction-item__description {
    max-width: 281px;
    min-width: 100%;
  }
}
.social-item__link {
  text-decoration: none;
  display: inline-block;
  font-size: 0;
  width: 45px;
  height: 45px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin-right: 10px;
  opacity: 0.6;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  transition: opacity 0.3s linear;
}
.social-item__link_vk {
  background-image: url('../img/vk-white.svg');
}
.social-item__link_youtube {
  background-image: url('../img/youtube-white.svg');
}
.social-item__link_insta {
  background-image: url('../img/insta-white.svg');
}
.social-item__link:hover {
  opacity: 1;
  animation: wabble 0.8s;
}
.social-item__link:active {
  opacity: 0.4;
}
@media (max-width: 768px) {
  .social-item__link {
    opacity: 0.8;
  }
}
@media (max-width: 425px) {
  .social-item__link {
    width: 30px;
    height: 30px;
  }
}
@import '../variables';
.map {
  width: 685px;
  height: 408px;
}
@media (max-width: 1180px) {
  .map {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .map {
    height: 383px;
  }
}
@media (max-width: 425px) {
  .map {
    height: 300px;
  }
}
.page-header {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
  position: relative;
  background: url('../img/white-cover.svg') no-repeat bottom center, url('../img/main-desktop.jpg') no-repeat top center, #ffffff;
  background-size: 101%, cover;
  padding-top: 423px;
  padding-bottom: 526px;
  animation: fade-in 1.4s ease;
}
@media (max-width: 1024px) {
  .page-header {
    max-width: 1024px;
  }
}
@media (max-width: 768px) {
  .page-header {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .page-header {
    padding: 0 10px;
  }
}
.page-header__logo {
  position: absolute;
  left: 214px;
  top: 181px;
  transform: rotate(-1deg);
  animation: fade-in 1.5s ease-in;
}
@media (max-width: 1170px) {
  .page-header {
    background-size: 103%, cover;
    padding-top: 240px;
    padding-bottom: 426px;
  }
  .page-header__logo {
    left: 13%;
    top: 14%;
    width: 368px;
  }
}
@media (max-width: 768px) {
  .page-header {
    padding-top: 311px;
    padding-bottom: 222px;
    background: url('../img/white-cover.svg') no-repeat center bottom, url('../img/main-tablet.jpg') no-repeat center 53%;
    background-size: 101%, 100%;
  }
  .page-header__logo {
    width: 40%;
    height: 96%;
    left: 66px;
    top: -61px;
  }
}
@media (max-width: 650px) {
  .page-header {
    padding-top: 343px;
    padding-bottom: 121px;
  }
  .page-header__logo {
    width: 41%;
    height: 96%;
    left: 51px;
    top: -41px;
  }
}
@media (max-width: 472px) {
  .page-header {
    padding-top: 220px;
    padding-bottom: 100px;
    background-image: url('../img/white-cover.svg'), none;
  }
  .page-header__logo {
    width: 83%;
    height: 96%;
    left: 27px;
    top: 13px;
  }
}
.main-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 16px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../img/header.min.svg') no-repeat top center;
  background-size: 103%;
}
.main-nav__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: #ffffff;
  padding-left: 0;
  margin: 0;
  margin-right: -148px;
  transform: rotate(-2deg);
}
.main-nav__menu-open {
  display: none;
}
.main-nav__link {
  text-decoration: none;
  color: #ffffff;
  font-family: 'PT Serif', 'Times New Roman', serif;
  font-size: 1.1em;
  padding: 15px 30px;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  animation: fade-in 1.2s ease-in;
}
.main-nav__link:hover {
  color: rgba(255, 255, 255, 0.5);
}
.main-nav__link:active {
  color: #272961;
}
.main-nav__item {
  margin-bottom: 20px;
}
.main-nav__social-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  list-style: none;
  transform: rotate(-6deg);
  margin-left: -152px;
}
@media (max-width: 1348px) {
  .main-nav {
    background-size: cover;
  }
  .main-nav__items {
    margin-right: 0;
    justify-content: space-around;
  }
  .main-nav__social-items {
    margin-left: 0;
  }
}
@media (max-width: 1024px) {
  .main-nav__link {
    padding: 10px 20px;
  }
}
@media (max-width: 910px) {
  .main-nav__items {
    position: absolute;
    left: 0;
    top: 76px;
    width: 100%;
    transform: rotate(0);
    z-index: 2000;
    display: none;
  }
  .main-nav__items_show {
    display: inline-block;
  }
  .main-nav__item {
    margin-bottom: 0;
    display: flex;
  }
  .main-nav__link {
    background-color: #e23a59;
    padding: 32px;
    width: 100%;
    font-size: 1.8em;
    text-align: center;
    border-bottom: 2px solid #cc3253;
    animation: none;
  }
  .main-nav__link:active {
    background-color: #cc3253;
    color: #272961;
  }
  .main-nav__social-items {
    visibility: hidden;
  }
  .main-nav__menu-open {
    display: block;
    width: 60px;
    height: 38px;
    position: absolute;
    top: 18px;
    right: 5%;
    z-index: 1500;
    background-color: #e23a59;
    border: none;
    outline: none;
  }
  .main-nav__menu-open_bar {
    display: block;
    width: 50px;
    height: 4px;
    margin-bottom: 7px;
    background-color: #ffffff;
  }
  .main-nav__menu-open_hidden {
    z-index: 1200;
  }
}
@media (max-width: 472px) {
  .main-nav {
    background-size: 266%;
  }
  .main-nav__menu-open {
    width: 48px;
    height: 27px;
    top: 9px;
    right: 18px;
  }
  .main-nav__menu-open_bar {
    width: 40px;
    height: 3px;
  }
  .main-nav__items_show {
    top: 38px;
  }
  .main-nav__link {
    font-size: 1.3em;
  }
}
.promo {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
  background: url('../img/promo-desktop.png') no-repeat, #ffffff;
  background-position-x: 86%;
  background-size: 44%;
  padding-top: 108px;
  padding-bottom: 38px;
  position: relative;
}
@media (max-width: 1024px) {
  .promo {
    max-width: 1024px;
  }
}
@media (max-width: 768px) {
  .promo {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .promo {
    padding: 0 10px;
  }
}
.promo__wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  margin-left: 52px;
}
.promo__description {
  font-size: 1.2em;
  line-height: 1.6em;
}
.promo__title {
  font-family: 'PT Serif', 'Times New Roman', serif;
  font-size: 2.3em;
  line-height: 1.3em;
  font-weight: 400;
  margin-top: 23px;
}
.promo::after {
  content: '';
  width: 182px;
  height: 135px;
  background: url('../img/quotes-pink.svg') no-repeat center;
  background-size: cover;
  position: absolute;
  top: -61px;
  left: 55px;
  animation: fade-in-down 1s;
}
.promo::before {
  content: '';
  width: 182px;
  height: 135px;
  background: url('../img/quotes-purple.svg') no-repeat center;
  background-size: cover;
  position: absolute;
  bottom: -149px;
  left: 42%;
  animation: fade-in-down 1.5s;
}
@media (max-width: 1180px) {
  .promo {
    background-position-x: 100%;
    background-position-y: 55%;
    background-size: 46%;
    padding-top: 82px;
    padding-bottom: 0;
  }
  .promo__wrapper {
    margin-left: 0;
  }
}
@media (max-width: 908px) {
  .promo {
    background-image: none;
    padding-left: 20px;
    padding-right: 20px;
  }
  .promo__wrapper {
    align-items: center;
    text-align: center;
  }
  .promo__description {
    font-size: 1.1em;
  }
  .promo::before {
    display: none;
  }
}
@media (max-width: 832px) {
  .promo {
    padding: 30px 10px 0;
  }
  .promo__title {
    font-size: 1.8em;
  }
  .promo__wrapper {
    margin-left: 0;
  }
  .promo::after {
    width: 150px;
    height: 106px;
  }
  .promo::before {
    width: 150px;
    height: 112px;
    bottom: -61px;
  }
}
@media (max-width: 472px) {
  .promo {
    padding-top: 0;
  }
  .promo::after {
    width: 287px;
    height: 219px;
    opacity: 0.1;
    top: 18px;
    left: 40px;
    animation: none;
  }
  .promo__title {
    font-size: 1.3em;
    line-height: 1.4em;
    text-align: center;
  }
  .promo__description {
    font-size: 0.8em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .promo__wrapper {
    align-items: center;
  }
}
@media (max-width: 352px) {
  .promo__title {
    font-size: 1.17em;
  }
  .promo__description {
    font-size: 0.71em;
  }
  .promo::after {
    left: 11px;
  }
}
.about-me {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
  background: url('../img/pink-back.svg') no-repeat top center, #ffffff;
  background-size: 102%;
  padding-top: 70px;
  padding-bottom: 35px;
  padding-right: 40px;
}
@media (max-width: 1024px) {
  .about-me {
    max-width: 1024px;
  }
}
@media (max-width: 768px) {
  .about-me {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .about-me {
    padding: 0 10px;
  }
}
.about-me__link {
  text-decoration: underline;
}
.about-me__heading {
  text-align: right;
  transform: rotate(-6deg);
  margin-top: 56px;
}
.about-me__wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  background-image: linear-gradient(to right, transparent 24%, #f2f2f2 24%);
  box-shadow: 24px 0 43px -23px #8b8b8b;
}
.about-me__photo {
  width: 650px;
  height: 650px;
  border-radius: 50%;
  background: url('../img/about-desktop.jpg') no-repeat center, url('../img/about-desktop-hover.jpg') no-repeat center;
  background-size: cover;
  -webkit-transition: background 0.4s linear;
  -moz-transition: background 0.4s linear;
  -o-transition: background 0.4s linear;
  transition: background 0.4s linear;
}
.about-me__photo:hover {
  background: url('../img/about-desktop-hover.jpg') no-repeat center;
  background-size: cover;
}
.about-me__description {
  max-width: 544px;
  margin-right: 56px;
  margin-left: 30px;
}
.about-me__title {
  font-size: 1.8em;
  line-height: 1.6em;
  font-family: 'PT Serif', 'Times New Roman', serif;
  font-weight: 400;
  color: #0f1014;
  margin: 0;
}
@media (max-width: 1320px) {
  .about-me {
    padding-left: 40px;
  }
  .about-me__photo {
    width: 550px;
    height: 550px;
  }
  .about-me__heading {
    margin-top: 20px;
  }
}
@media (max-width: 1180px) {
  .about-me__wrapper {
    margin-top: 20px;
    padding-top: 44px;
    padding-bottom: 0;
    background-image: none;
    box-shadow: none;
  }
  .about-me__photo {
    width: 335px;
    height: 600px;
    background-image: url('../img/about-tablet.jpg');
    background-size: contain;
    border-radius: 0;
  }
  .about-me__photo:hover {
    background-image: url('../img/about-tablet.jpg');
    background-size: contain;
  }
  .about-me__description {
    margin-right: 0;
    max-width: 850px;
  }
  .about-me__heading {
    margin-top: 10px;
  }
}
@media (max-width: 1180px) and (max-width: 925px) {
  .about-me__heading {
    margin-top: -4px;
  }
}
@media (max-width: 1180px) and (max-width: 833px) {
  .about-me__heading {
    margin-top: -11px;
  }
}
@media (max-width: 768px) {
  .about-me {
    background-image: none;
    padding: 25px 0 0;
  }
  .about-me__photo {
    width: 90%;
    height: 650px;
    order: 2;
    border-radius: 0;
  }
  .about-me__wrapper {
    margin-top: 10px;
    padding-top: 0;
    justify-content: center;
    flex-wrap: wrap;
  }
  .about-me__heading {
    margin-top: 0;
    transform: none;
    text-align: center;
    width: 100%;
  }
  .about-me__title {
    margin-top: 25px;
  }
  .about-me__description {
    max-width: 90%;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width: 522px) {
  .about-me__photo {
    width: 200px;
    height: 200px;
    background-size: cover;
    order: 1;
    border-radius: 50%;
    margin-right: 0;
    background-image: url('../img/about-mobile.jpg');
    margin-top: 20px;
  }
  .about-me__photo:hover {
    background-image: url('../img/about-mobile.jpg');
    background-size: cover;
  }
  .about-me__description {
    order: 2;
  }
  .about-me__wrapper {
    margin-top: 0;
  }
}
@media (max-width: 425px) {
  .about-me__title {
    margin-top: 10px;
    font-size: 1.4em;
    line-height: 1.4em;
  }
  .about-me__description {
    margin-left: 0;
    margin-right: 0;
    padding: 0 10px;
    max-width: 98%;
  }
  .about-me__text {
    font-size: 0.8em;
    line-height: 1.5em;
  }
  .about-me__wrapper {
    flex-flow: row wrap;
    justify-content: center;
    box-shadow: none;
    text-align: center;
    margin-top: 15px;
  }
}
.directions {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
  background: url('../img/purple-back.svg') no-repeat top center, #ffffff;
  background-size: 102%;
  padding-top: 23px;
  padding-bottom: 15px;
}
@media (max-width: 1024px) {
  .directions {
    max-width: 1024px;
  }
}
@media (max-width: 768px) {
  .directions {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .directions {
    padding: 0 10px;
  }
}
.directions__heading {
  transform: rotate(-4deg);
  margin: 0;
}
.directions__wrapper {
  margin-top: 95px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-right: 46px;
}
@media (max-width: 1024px) {
  .directions {
    padding-top: 6px;
  }
}
@media (max-width: 960px) {
  .directions__wrapper {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .directions {
    padding-top: 6px;
    padding-left: 0;
    padding-right: 0;
    background-image: none;
  }
  .directions__heading {
    margin-left: 0;
    transform: rotate(0);
    text-align: center;
    background-color: #272961;
  }
  .directions__wrapper {
    margin-top: 27px;
    margin-right: 0;
  }
}
.video {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
  background: url('../img/pink-back-rotate.svg') no-repeat top center, #ffffff;
  background-size: 102%;
  padding-top: 23px;
  padding-bottom: 30px;
}
@media (max-width: 1024px) {
  .video {
    max-width: 1024px;
  }
}
@media (max-width: 768px) {
  .video {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .video {
    padding: 0 10px;
  }
}
.video__links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 75px;
  margin-left: auto;
  width: 115px;
}
.video__link-item {
  width: 41px;
  height: 25px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 0;
  opacity: 0.6;
  cursor: pointer;
}
.video__link-item_vk-link {
  background-image: url('../img/vk-icon-pink.svg');
}
.video__link-item_youtube-link {
  background-image: url('../img/youtube-icon-pink.svg');
}
.video__link-item:hover {
  opacity: 1;
  transition: 0.3s;
}
.video__link-item:active {
  opacity: 0.3;
}
.video__btn {
  padding: 3px 20px 4px;
  text-transform: none;
  position: relative;
  bottom: -108px;
}
.video__btn::after {
  content: '';
  width: 0;
  height: 0;
  border: 19px solid transparent;
  border-left: 23px solid #e23a59;
  position: absolute;
  top: 0;
  right: -42px;
}
.video__heading {
  transform: rotate(-4deg);
}
@media (max-width: 1024px) {
  .video {
    padding-top: 15px;
  }
  .video__links {
    margin-top: 12px;
  }
  .video__btn {
    bottom: -53px;
  }
}
@media (max-width: 768px) {
  .video {
    padding: 0 0 7px;
    background-image: none;
  }
  .video__links {
    margin-top: 20px;
  }
  .video__btn {
    bottom: -57px;
    left: 17px;
  }
  .video__heading {
    transform: rotate(0);
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 680px) {
  .video__btn {
    padding: 0 8px 0;
    bottom: -5px;
    left: 7px;
    margin-top: 14px;
  }
  .video__btn::after {
    display: none;
  }
  .video__link-item_vk-link,
  .video__link-item_youtube-link {
    display: none;
  }
  .video__links {
    justify-content: flex-end;
    margin-top: 3px;
  }
}
@media (max-width: 425px) {
  .video__heading {
    margin-top: 20px;
  }
}
.timetable {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
  background: url('../img/purple-back.svg') no-repeat top center, #ffffff;
  background-size: 102%;
  padding-top: 23px;
  padding-bottom: 23px;
}
@media (max-width: 1024px) {
  .timetable {
    max-width: 1024px;
  }
}
@media (max-width: 768px) {
  .timetable {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .timetable {
    padding: 0 10px;
  }
}
.timetable__heading {
  transform: rotate(-3deg);
}
@media (max-width: 1024px) {
  .timetable {
    padding-top: 10px;
  }
}
@media (max-width: 824px) {
  .timetable {
    text-align: center;
    padding: 4px 0 20px;
    background-image: none;
  }
  .timetable__heading {
    transform: rotate(0);
    background-color: #272961;
    text-align: center;
  }
}
.contacts {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
  background: url('../img/pink-back-rotate.svg') no-repeat top center, #ffffff;
  background-size: 102%;
  padding-top: 13px;
  font-size: 1.06em;
  padding-bottom: 25px;
}
@media (max-width: 1024px) {
  .contacts {
    max-width: 1024px;
  }
}
@media (max-width: 768px) {
  .contacts {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .contacts {
    padding: 0 10px;
  }
}
.contacts__heading {
  transform: rotate(-3deg);
  margin-top: 10px;
}
.contacts__wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 96px;
}
.contacts__items {
  max-width: 560px;
}
.contacts__item {
  margin-bottom: 33px;
  margin-top: 0;
}
.contacts__link {
  font-weight: 400;
}
@media (max-width: 1180px) {
  .contacts__wrapper {
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 78px;
    text-align: center;
  }
  .contacts__items {
    max-width: 90%;
  }
  .contacts__map {
    width: 100%;
  }
  .contacts__heading {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .contacts {
    padding: 2px 0 0;
    background-image: none;
    margin-top: 0;
  }
  .contacts__wrapper {
    margin-top: 42px;
  }
  .contacts__items {
    text-align: center;
    margin: 0 auto;
  }
  .contacts__item {
    margin-bottom: 23px;
  }
  .contacts__heading {
    transform: rotate(0);
    text-align: center;
  }
}
@media (max-width: 680px) {
  .contacts__wrapper {
    margin-top: 10px;
  }
  .contacts__item {
    margin-bottom: 10px;
  }
}
@media (max-width: 425px) {
  .contacts__items {
    max-width: 325px;
    font-size: 0.8em;
  }
  .contacts__item {
    line-height: 1.5em;
  }
}
@media (max-width: 350px) {
  .contacts__items {
    max-width: 294px;
  }
}
.footer {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
  background: url('../img/footer.svg') no-repeat top, #ffffff;
  background-size: 102%;
  padding-top: 80px;
  padding-bottom: 10px;
}
@media (max-width: 1024px) {
  .footer {
    max-width: 1024px;
  }
}
@media (max-width: 768px) {
  .footer {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .footer {
    padding: 0 10px;
  }
}
.footer__social-item-link {
  text-decoration: none;
  width: 62px;
  height: 62px;
  border: 3px solid #272961;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  opacity: 0.8;
  transition: opacity 0.3s linear;
}
.footer__social-item-link_vk {
  background-image: url('../img/vk-icon-purple.svg');
}
.footer__social-item-link_youtube {
  background-image: url('../img/youtube-icon-purple.svg');
}
.footer__social-item-link_insta {
  background-image: url('../img/insta-purple.svg');
}
.footer__social-item-link:hover {
  opacity: 1;
}
.footer__social-item-link:active {
  opacity: 0.5;
}
.footer__social-items {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 0;
}
@media (max-width: 1180px) {
  .footer {
    background-image: none;
    padding-top: 0;
  }
}
@media (max-width: 425px) {
  .footer {
    padding-top: 1px;
    padding-bottom: 15px;
    background-image: none;
  }
}
.footer-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 63px;
}
.footer-nav__items {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  list-style: none;
  font-size: 1em;
  max-width: 312px;
  justify-content: space-between;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.footer-nav__link {
  text-decoration: none;
  color: #272961;
}
.footer-nav__link:hover {
  color: #e23a59;
}
.footer-nav__link:active {
  opacity: 0.8;
}
.footer-nav__logo {
  cursor: pointer;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.footer-nav__logo:hover {
  opacity: 0.8;
}
.footer-nav__logo:active {
  opacity: 0.5;
}
@media (max-width: 1180px) {
  .footer-nav {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .footer-nav {
    justify-content: space-around;
    margin-top: 20px;
  }
  .footer-nav__items {
    min-width: 97%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 680px) {
  .footer-nav {
    margin-top: 27px;
  }
  .footer-nav__items {
    display: none;
  }
}
.copyright {
  text-align: center;
  font-size: 0.7em;
  margin-right: 85px;
  margin-top: 0;
}
@media (max-width: 768px) {
  .copyright {
    margin-right: 0;
    font-size: 0.8em;
  }
}
