@import '../../variables';

.close-btn {
    display: none;
}

@media (max-width: 832px) {

    .close-btn {
        display: block;
        z-index: 1400;
        background-color: @pink;
        position: absolute;
        width: 60px;
        height: 38px;
        top: 15px;
        right: 5%;
        border: none;
        outline: none;

        &::after {
            content: '';
            display: block;
            width: 28px;
            height: 4px;
            background-color: @white;
            position: absolute;
            top: 14px;
            left: 19px;
            transform: rotate(43deg);
        }

        &::before {
            content: '';
            display: block;
            width: 28px;
            height: 4px;
            background-color: @white;
            position: absolute;
            top: 14px;
            left: 18px;
            transform: rotate(140deg);
        }
    }
}

@media (max-width: 472px) {

    .close-btn {
        width: 48px;
        height: 31px;
        top: 8px;
        right: 16px;
    }
}
