@import '../../variables';

.paginator {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 248px;
    margin-left: 1364px;
    z-index: 1000;

    &__item {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid @purple;
        opacity: 0.7;
        cursor: pointer;
        margin-bottom: 15px;
        margin-left: -51px;
        -webkit-transition: opacity 0.2s linear;
        -moz-transition: opacity 0.2s linear;
        -o-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear;
        -webkit-transform: translateZ(0);

        &_active {
           background-color: @purple;
        }

        &:hover {
            opacity: 1;
        }

        &:active {
            background-color: @purple;
        }
    }
}

@media (max-width: @screen_desktop) {
    .paginator {
        margin-left: 94%;
    }
}

@media (max-width: 1280px) {
    .paginator {
        display: none;
    }
}
