@import '../../variables';

.select-list {
    background-color: @grey;
    border: 2px solid @grey_dark;
    width: 100%;
    height: 43px;
    outline: none;

    &:hover {
       background-color: @grey_dark;
    }

    &:active {
       border: 2px solid @purple;
    }

    &:focus {
       border: 2px solid @pink;
    }
}
