@import '../../variables';

.select-list {
    border: none;
    background-color: @grey;
    border: 2px solid @grey_dark;
    height: 43px;
    width: 239px;
    outline: none;

    &:hover {
       background-color: @grey_dark;
    }

    &:active {
       border: 2px solid @purple;
    }

    &:focus {
       border: 2px solid @pink;
    }
}
