@import 'fonts';
@import 'variables';

body {
    position: relative;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.65em;
    color: #110a0a;
    background-color: @grey;
    text-align: left;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}

.page-heading {
    font-family: 'PT Serif', 'Times New Roman', serif;
    font-size: 2.3em;
    line-height: 1.3em;
    color: @white;
    font-weight: 400;
    margin: 0;
}

@media (max-width: @screen_tablet) {
    .page-heading {
        font-size: 1.8em;
        line-height: 1.6em;
    }
}

@media (max-width: @screen_mobile) {
    .page-heading {
        font-size: 1.4em;
        line-height: 2.2em;
    }
}

.base-link {
    text-decoration: none;
    font-weight: 700;
    color: @pink;
    transition: opacity 0.3s linear;

    &:hover {
        opacity: 0.7;
    }

     &:active {
       color: @black;
       opacity: 0.8;
    }

    &:focus {
        color: @purple;
    }
}




