@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'common';
@import 'animation';
@import 'components/controls/paginator';
@import 'components/controls/btn';
@import 'components/controls/close-btn';
@import 'components/timetable';
@import 'components/modal-post-form';
@import 'components/direction-item';
@import 'components/social-item';
@import 'components/map';

.page-header {
    .container();
    position: relative;
    background-image: url('../img/white-cover.svg'), url('../img/main-desktop.jpg');
    background-repeat: no-repeat;
    background-position: bottom center, top center;
    background-size: 101%, 1440px auto;
    background-attachment: scroll, fixed;
    padding-top: 400px;
    padding-bottom: 430px;

    &__logo {
        position: absolute;
        left: 274px;
        top: 154px;
        transform: rotate(-6deg);
        animation: fade-in ease-in;
        animation-duration: 1.5s;
    }
}


@media(max-width:@screen_tablet) {

    .page-header {
        padding-bottom: 130px;
        background-image: url('../img/white-cover.svg'), url('../img/main-tablet.jpg');
        background-size: 101%, 943px auto;
        background-attachment: scroll;

        &__logo {
            width: 370px;
            left: 144px;
            top: 49px;
        }
    }
}

@media(max-width:@screen_mobile) {

    .page-header {
        padding-bottom: 290px;
        background-image: url('../img/white-cover.svg');
        background-size: 170%;
        background-attachment: scroll;

        &__logo {
            width: 312px;
            left: 51px;
            top: 13px;
        }
    }
}

@media(min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2),
      (min-width: 1440px) and (min-resolution: 1.5dppx),
      (min-width: 1440px) and (min-resolution: 192dpi) {

    .page-header {
        background-image: url('../img/white-cover.svg'), url('../img/main-retina.jpg');
    }
}


.main-nav {
    .container();
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 16px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/header.min.svg');
    background-repeat: no-repeat;
    background-size: 101%;
    background-position: top center;


    &__items {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        color: @white;
        padding-left: 0;
        margin: 0;
        transform: rotate(-2deg);
    }

    &__menu-open {
        display: none;
    }

    &__link {
        text-decoration: none;
        color: @white;
        font-family: 'PT Serif', 'Times New Roman', serif;
        font-size: 1.1em;
        padding: 15px 30px;
        -webkit-transition: color 0.2s linear;
        -moz-transition: color 0.2s linear;
        -o-transition: color 0.2s linear;
        transition: color 0.2s linear;
        animation: fade-in ease-in;
        animation-duration: 1.2s;

        &:hover {
            color: rgba(255, 255, 255, 0.5);
        }

        &:active {
            color: @purple;
        }
    }

    &__item {
        margin-bottom: 20px;
    }

    &__social-items {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        list-style: none;
        transform: rotate(-6deg);
        margin-left: -55px;
    }
}


@media(max-width:@screen_tablet) {

    .main-nav {
        background-size: 163%;
        position: absolute;

        &__items {
            display: none;
        }

        &__items_show {
            display: inline-block;
            position: absolute;
            left: 0;
            top: 76px;
            transform: rotate(0);
            z-index: 2000;
            animation: slide-in-down 0.4s ease;
        }

        &__item {
            margin-bottom: 0;
            display: flex;
        }

        &__link {
            background-color: @pink;
            font-size: 1.8em;
            text-align: center;
            width: 100%;
            border-bottom: 2px solid @pink_dark;
            padding: 46px 356px;
            animation: none;

            &:active {
                background-color: @pink_dark;
                color: @purple;
            }
        }

        &__social-items {
            visibility: hidden;
        }

        &__menu-open {
            display: block;
            width: 60px;
            height: 38px;
            position: absolute;
            top: 15px;
            right: 52px;
            z-index: 1500;
            background-color: @pink;
            border: none;
            background-image: url('../img/menu.min.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 93%;
            outline: none;
        }

        &__menu-open_hidden {
            z-index: 1200;
        }
    }
}

@media(max-width:@screen_mobile) {

    .main-nav {
        background-size: 238%;

        &__menu-open {
            width: 48px;
            height: 31px;
            top: 8px;
            right: 26px;
        }

        &__items_show {
            top: 42px;
        }

        &__link {
            padding: 32px 118px;
            font-size: 1.5em;
        }
    }
}

.promo {
    .container();
    background-color: @white;
    background-image: url('../img/promo-desktop.png');
    background-repeat: no-repeat;
    background-position-x: 86%;
    background-size: 44%;
    padding-top: 108px;
    padding-bottom: 38px;
    position: relative;


    &__wrapper {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        margin-left: 52px;
    }

    &__description {
        font-size: 1.1em;
        line-height: 1.6em;
    }

    &__title {
        font-family: 'PT Serif', 'Times New Roman', serif;
        font-size: 2.3em;
        line-height: 1.3em;
        font-weight: 400;
        margin-top: 0;
    }


    &::after {
        content: '';
        width: 182px;
        height: 135px;
        background-image: url('../img/quotes-pink.svg');
        background-position: center;
        background-size: cover;
        position: absolute;
        top: -61px;
        left: 15px;
        animation: fade-in-down;
        animation-duration: 1s;
    }

    &::before {
        content: '';
        width: 182px;
        height: 135px;
        background-image: url('../img/quotes-purple.svg');
        background-position: center;
        background-size: cover;
        position: absolute;
        bottom: -149px;
        left: 544px;
        animation: fade-in-down;
        animation-duration: 1.5s;
    }
}

@media(max-width:@screen_tablet) {

    .promo {
        padding-top: 65px;
        padding-bottom: 0;
        background-image: url('../img/promo-tablet.png');
        background-position-x: 96%;
        background-position-y: 28%;
        background-size: 45%;
        background-attachment: scroll;

        &__title {
            font-size: 1.8em;
        }

        &__wrapper {
            margin-left: 0;
        }

        &__description {
            font-size: 19px;
        }

        &::after {
            width: 150px;
            height: 106px;
        }

        &::before {
            width: 150px;
            height: 112px;
            bottom: -61px;
            left: 593px;
        }
    }
}

@media(max-width:@screen_mobile) {

    .promo {
        background-image: none;
        padding-top: 22px;

        &::before {
            display: none;
        }

        &::after {
            width: 287px;
            height: 219px;
            opacity: 0.1;
            top: 128px;
            animation: none;
        }

        &__title {
            font-size: 1.4em;
            line-height: 1.5em;
            text-align: center;
            margin-left: 7px;
        }

        &__description {
            font-size: 0.86em;
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
        }
    }
}

.about-me {
    .container();
    background-color: @white;
    background-image: url('../img/pink-back.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 102%;
    padding-top: 70px;
    padding-bottom: 35px;

    &__heading {
        text-align: right;
        transform: rotate(-6deg);
        margin-top: 56px;
    }

    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 50px;
        background-image: linear-gradient(to right, transparent 24%, @grey 24%);
        box-shadow: 24px 0 43px -23px #8b8b8b;
    }

    &__photo {
        width: 650px;
        height: 650px;
        border-radius: 50%;
        background-image: url('../img/about-desktop.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-transition-property: background-image;
        -o-transition-property: background-image;
        transition-property: background-image;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        transition-timing-function: linear;

        &:hover {
           background-image: url('../img/about-desktop-hover.jpg');
           -moz-animation: fade-in 0.6s ease-in-out;
           -ms-animation: fade-in 0.5s ease-in-out;
        }
    }

    &__description {
        max-width: 544px;
        margin-right: 28px;
    }

    &__title {
        font-size: 1.8em;
        line-height: 1.6em;
        font-family: 'PT Serif', 'Times New Roman', serif;
        font-weight: 400;
        color: #0f1014;
        margin: 0;
    }
}

@media(max-width:@screen_tablet) {
    .about-me {
        padding-top: 11px;

        &__photo {
            width: 350px;
            height: 450px;
            order: 2;
            border-radius: 0;
            margin-right: -58px;
            background-image: url('../img/about-tablet.jpg');
        }

        &__wrapper {
            flex-flow: row nowrap;
            padding-top: 0;
            padding-bottom: 0;
            background-image: none;
        }

        &__description {
            max-width: 609px;
            margin-left: -44px;
            margin-right: 0;
        }
    }
}

@media(max-width:@screen_mobile) {

    .about-me {
        padding-top: 57px;
        background-size: 210%;

        &__title {
            margin-top: 20px;
        }

        &__heading {
            margin-top: 0;
        }

        &__photo {
            width: 250px;
            height: 250px;
            order: 1;
            border-radius: 50%;
            margin-right: 0;
            background-image: url('../img/about-mobile.jpg');
        }

        &__description {
            order: 2;
            margin-left: 0;
            margin-right: 0;
        }

        &__wrapper {
            flex-flow: row wrap;
            justify-content: center;
            box-shadow: none;
            text-align: center;
            margin-top: 15px;
            padding-bottom: 22px;
        }
    }
}

.directions {
    .container();
    background-color: @white;
    background-image: url('../img/purple-back.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 102%;
    padding-top: 23px;
    padding-bottom: 15px;

    &__heading {
        transform: rotate(-4deg);
        margin: 0;
    }

    &__wrapper {
        margin-top: 95px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-right: 46px;
    }
}

@media(max-width:@screen_tablet) {

    .directions {
        padding-top: 6px;

        &__heading {
            transform: rotate(-3deg);
            margin-left: -40px;
        }

        &__wrapper {
            margin-top: 54px;
            margin-right: 0;
        }
    }
}

@media(max-width:@screen_mobile) {

    .directions {
        background-size: 226%;

        &__heading {
            margin-left: 0;
        }

        &__wrapper {
            margin-top: 27px;
        }
    }
}


.video {
    .container();
    background-color: @white;
    background-image: url('../img/pink-back-rotate.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 102%;
    padding-top: 23px;
    padding-bottom: 30px;

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        list-style: none;
        padding: 0;
        margin-bottom: 10px;
        margin-top: 75px;
        margin-left: auto;
        width: 115px;
    }

    &__link-item {
        width: 41px;
        height: 25px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-size: 0;
        opacity: 0.6;
        cursor: pointer;

        &_vk-link {
           background-image: url('../img/vk-icon-pink.svg');
        }

        &_youtube-link {
            background-image: url('../img/youtube-icon-pink.svg');
        }

        &:hover {
            opacity: 1;
            transition: 0.3s;
        }

        &:active {
            opacity: 0.3;
        }
    }

    &__heading {
        transform: rotate(-4deg);
    }

    &__btn {
        padding: 3px 20px;
        padding-bottom: 4px;
        text-transform: none;
        position: relative;
        bottom: -108px;

        &::after {
            content: '';
            width: 0;
            height: 0;
            border: 19px solid transparent;
            border-left: 23px solid @pink;
            position: absolute;
            top: 0;
            right: -42px;
        }
    }
}

@media(max-width:@screen_tablet) {

    .video {
        padding-top: 0;
        padding-bottom: 7px;

        &__links {
            margin-top: 20px;
        }

        &__btn {
            bottom: -57px;
        }
    }
}

@media(max-width:@screen_mobile) {

    .video {
        background-size: 181%;

        &__btn {
            padding: 0px 8px;
            padding-bottom: 0px;
            bottom: -4px;
            left: 240px;

            &::after {
                display: none;
            }
        }

        &__link-item_vk-link,
        &__link-item_youtube-link {
            display: none;
        }

        &__links {
            justify-content: flex-end;
            margin-top: 3px;
        }
    }
}

.timetable {
    .container();
    background-color: @white;
    background-image: url('../img/purple-back.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 102%;
    padding-top: 23px;
    padding-bottom: 23px;

    &__heading {
        transform: rotate(-3deg);
    }
}

@media(max-width:@screen_tablet) {
    .timetable {
        padding-top: 4px;

        &__heading {
            transform: rotate(-4deg);
        }
    }
}

@media(max-width:@screen_mobile) {

    .timetable {
        padding-top: 4px;
        padding-bottom: 20px;
        background-size: 207%;
    }
}

.contacts {
    .container();
    background-color: @white;
    background-image: url('../img/pink-back-rotate.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 102%;
    padding-top: 13px;
    font-size: 1.06em;
    padding-bottom: 25px;

    &__heading {
        transform: rotate(-4deg);
    }

    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 140px;
    }

    &__items {
        max-width: 560px;
    }

    &__item {
        margin-bottom: 33px;
        margin-top: 0;
    }

    &__link {
        font-weight: 400;
    }
}

@media(max-width:@screen_tablet) {

    .contacts {
        padding-top: 2px;
        padding-bottom: 0;

        &__wrapper {
            margin-top: 75px;
        }

        &__items {
            max-width: 320px;
        }
    }
}

@media(max-width:@screen_mobile) {

    .contacts {
        padding-top: 2px;
        padding-bottom: 20px;
        background-size: 196%;

        &__wrapper {
            margin-top: 35px;
        }

        &__items {
            max-width: 325px;
            margin: 0 auto;
        }
    }
}

.footer {
    .container();
    background-color: @white;
    background-image: url('../img/footer.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 102%;
    padding-top: 80px;
    padding-bottom: 10px;

    &__social-item-link {
        text-decoration: none;
        width: 62px;
        height: 62px;
        border: 3px solid @purple;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
        opacity: 0.8;
        transition: opacity 0.3s linear;

        &_vk {
            background-image: url('../img/vk-icon-purple.svg');
        }

        &_youtube {
            background-image: url('../img/youtube-icon-purple.svg');
        }

        &_phone {
           background-image: url('../img/phone-icon-purple.svg');
        }

        &:hover {
            opacity: 1;
        }

        &:active {
            opacity: 0.5;
        }
    }

    &__social-items {
        display: flex;
        flex-flow: row nowrap;
        list-style: none;
        padding: 0;
    }
}

@media(max-width:@screen_tablet) {
    .footer {
        padding-top: 34px;
    }
}

@media(max-width:@screen_tablet) {
    .footer {
        padding-top: 1px;
        padding-bottom: 15px;
    }
}

.footer-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 63px;

    &__items {
        display: flex;
        flex-flow: row wrap;
        padding: 0;
        list-style: none;
        font-size: 1em;
        max-width: 312px;
        justify-content: space-between;
        -webkit-transition-property: background;
        -moz-transition-property: background;
        -o-transition-property: background;
        transition-property: background;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        -moz-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        transition-timing-function: linear;
    }

    &__link {
        text-decoration: none;
        color: @purple;

        &:hover {
            color: @pink;
        }

        &:active {
            opacity: 0.8;
        }
    }

    &__logo {
        cursor: pointer;
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        -moz-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        transition-timing-function: linear;

        &:hover {
            opacity: 0.8;

        }

        &:active {
            opacity: 0.5;
        }
    }
}

@media(max-width:@screen_tablet) {

    .footer-nav {
        justify-content: space-around;
        margin-top: 88px;

        &__items {
            flex-wrap: nowrap;
            min-width: 794px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

@media(max-width:@screen_mobile) {

    .footer-nav {
        margin-top: 50px;

        &__items {
            flex-wrap: wrap;
            min-width: 320px;
            margin-top: 3px;
            display: none;
        }

    }
}

.copyright {
    text-align: center;
    font-size: 0.7em;
    margin-right: 85px;
    margin-top: 0;
}

@media(max-width:@screen_tablet) {
    .copyright {
        margin-right: 0;
        font-size: 0.8em;
    }
}
