@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'common';
@import 'components/controls/paginator';
@import 'components/controls/btn';
@import 'components/timetable';
@import 'components/modal-post-form';
@import 'components/map';
@import 'animation';


.page-header {
    .container();
    position: relative;
    background-image: url('../img/white-cover.svg'), url('../img/main-desktop.jpg');
    background-repeat: no-repeat;
    background-position: bottom center, top center;
    background-size: 101%, 100%;
    padding-top: 400px;
    padding-bottom: 430px;

    &__logo {
        position: absolute;
        left: 274px;
        top: 154px;
        transform: rotate(-6deg);
        animation: fade-in ease-in;
        animation-duration: 1s;
    }
}


@media(max-width:@screen_tablet) {

    .page-header {
        padding-bottom: 130px;

        &__logo {
            width: 370px;
            left: 144px;
            top: 49px;
        }
    }
}

.main-nav {
    .container();
    background-image: url('../img/header.min.svg');
    background-repeat: no-repeat;
    background-size: 101%;
    background-position: top center;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 16px;

    &__items {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        color: @white;
        padding-left: 0;
        margin: 0;
        transform: rotate(-2deg);
    }

    &__close-btn {
        display: none;
    }

    &__menu-open {
        display: none;
    }

    &__link {
        text-decoration: none;
        color: @white;
        font-family: 'PT Serif', 'Times New Roman', serif;
        font-size: 21px;
        padding: 15px 30px;
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        -moz-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        transition-timing-function: linear;
        animation: fade-in ease-in;
        animation-duration: 1s;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            color: @purple;
        }
    }

    &__item {
        margin-bottom: 20px;
    }

    &__social-items {
       list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        transform: rotate(-6deg);
        margin-left: -55px;
    }
}


@media(max-width:@screen_tablet) {

    .main-nav {
        background-size: 163%;

        &__items {
            flex-flow: column wrap;
            transform: rotate(0);
            width: 100%;
            z-index: 2000;
            align-items: flex-end;
            display: none;
        }

        &__items_show {
            display: flex;
            animation: slide-in-left 1s ease;
        }

        &__item {
            margin-bottom: 0;
            display: flex;
        }

        &__link {
            background-color: @pink;
            font-size: 27px;
            text-align: center;
            width: 158px;
            border-bottom: 2px solid @pink_dark;
            padding: 29px 70px;
        }

        &__menu-open {
            display: block;
            z-index: 1500;
            background-color: @pink;
            position: absolute;
            width: 60px;
            height: 38px;
            top: 15px;
            right: 52px;
            border: none;
            background-image: url('../img/menu.min.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 93%;
            animation: fade-in ease-in;
            animation-duration: 1s;
        }
    }
}

.social-item {

    &__link {
        text-decoration: none;
        display: inline-block;
        font-size: 0;
        width: 41px;
        height: 41px;
        border: 2px solid @white;
        border-radius: 50%;
        margin-right: 10px;
        opacity: 0.6;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
        transition: opacity 0.3s linear;

        &_vk {
            background-image: url('../img/vk-white.svg');
        }

        &_youtube {
            background-image: url('../img/youtube-white.svg');
        }

        &_phone {
            background-image: url('../img/phone-white.svg');
        }

        &:hover {
            opacity: 1;
            animation: wabble 0.8s;
        }

        &:active {
            opacity: 0.4;
        }
    }
}

@media(max-width:@screen_tablet) {

    .social-item {
        &__link {
            opacity: 0.8;
        }
    }
}

.promo {
    .container();
    background-color: @white;
    background-image: url('../img/promo-desktop.png');
    background-repeat: no-repeat;
    background-position-x: 86%;
    background-size: 44%;
    padding-top: 108px;
    padding-bottom: 38px;
    position: relative;


    &__wrapper {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        margin-left: 52px;
    }

    &__description {
        font-size: 21px;
        line-height: 31px;
    }

    &__title {
        font-family: 'PT Serif', 'Times New Roman', serif;
        font-size: 44px;
        line-height: 61px;
        font-weight: 400;
        margin-top: 0;
    }


    &::after {
        content: '';
        width: 182px;
        height: 135px;
        background-image: url('../img/quotes-pink.svg');
        background-position: center;
        background-size: cover;
        position: absolute;
        top: -61px;
        left: 15px;
        animation: fade-in-down;
        animation-duration: 1s;
    }

    &::before {
        content: '';
        width: 182px;
        height: 135px;
        background-image: url('../img/quotes-purple.svg');
        background-position: center;
        background-size: cover;
        position: absolute;
        bottom: -149px;
        left: 544px;
        animation: fade-in-down;
        animation-duration: 1.5s;
    }
}

@media(max-width:@screen_tablet) {
    .promo {
        padding-top: 65px;
        padding-bottom: 0;
        background-position-x: 93%;
        background-position-y: 28%;
        background-size: 45%;

        &__title {
            font-size: 34px;
            line-height: 51px;
        }

        &__wrapper {
            margin-left: 0;
        }

        &__description {
            font-size: 19px;
        }

        &::after {
            width: 150px;
            height: 106px;
        }

        &::before {
            width: 150px;
            height: 112px;
            bottom: -61px;
            left: 593px;
        }
    }
}

.about-me {
    .container();
    background-color: @white;
    background-image: url('../img/pink-back.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 102%;
    padding-top: 70px;
    padding-bottom: 35px;

    &__heading {
        text-align: right;
        transform: rotate(-6deg);
        margin-top: 56px;
    }

    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 50px;
        background-image: linear-gradient(to right, transparent 24%, @grey 24%);
        box-shadow: 24px 0 43px -23px #8b8b8b;
    }

    &__photo {
        width: 650px;
        height: 650px;
        border-radius: 50%;
        background-image: url('../img/about-desktop.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-transition-property: background-image;
        -moz-transition-property: background-image;
        -o-transition-property: background-image;
        transition-property: background-image;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: linear;
        -moz-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        transition-timing-function: linear;

        &:hover {
           background-image: url('../img/about-desktop-hover.jpg');
        }
    }

    &__description {
        max-width: 544px;
        margin-right: 28px;
    }

    &__title {
        font-size: 35px;
        line-height: 45px;
        font-family: 'PT Serif', 'Times New Roman', serif;
        font-weight: 400;
        color: #0f1014;
        margin: 0;
    }
}

@media(max-width:@screen_tablet) {
    .about-me {
        padding-top: 11px;

        &__photo {
            width: 350px;
            height: 450px;
            order: 2;
            border-radius: 0;
            margin-right: -58px;
        }

        &__wrapper {
            flex-flow: row nowrap;
            padding-top: 0;
            padding-bottom: 0;
            background-image: linear-gradient(to right, transparent 0%, #f2f2f2 39%);
        }

        &__description {
            max-width: 609px;
            margin-left: -44px;
            margin-right: 0;
        }
    }
}

.directions {
    .container();
    background-color: @white;
    background-image: url('../img/purple-back.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 102%;
    padding-top: 23px;
    padding-bottom: 15px;

    &__heading {
        transform: rotate(-4deg);
        margin: 0;
    }

    &__wrapper {
        margin-top: 95px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-right: 46px;
    }
}

@media(max-width:@screen_tablet) {

    .directions {
        padding-top: 6px;

        &__heading {
            transform: rotate(-3deg);
            margin-left: -40px;
        }

        &__wrapper {
            margin-top: 54px;
            margin-right: 0;
        }
    }
}

.direction-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 49px;
    padding-bottom: 47px;
    width: 1060px;
    background-image: linear-gradient(to right, transparent 15%, @grey 15%);
    position: relative;

    &::after {
        content: '';
        height: 340px;
        width: 170px;
        background-image: url('../img/circle-purple.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        left: -11px;
        top: -3px;

    }

    &_jazz-funk::after {
        background-image: url('../img/circle-pink.svg');
    }

    &__photo {
        width: 207px;
        height: 207px;
        border-radius: 50%;
        border: 15px solid @purple;
        border-left: 15px solid @purple_light;
        border-top: 15px solid @purple_light;
        background-position: center;
        background-size: cover;


        &_contemporary {
            background-image: url('../img/contemporary-desktop.jpg');
        }

        &_bodyballet {
            background-image: url('../img/bodyballet-desktop.jpg');
        }

        &_jazz-funk {
           background-image: url('../img/jazzfunk-desktop.jpg');
           border-color: @pink;
           border-left: 15px solid @pink_dark;
           border-top: 15px solid @pink_dark;
        }
    }

    &__description {
        max-width: 646px;
        margin-bottom: 0;
    }

    &__title {
        font-family: 'PT Serif', 'Times Nen Roman', serif;
        font-size: 35px;
        line-height: 45px;
        font-weight: 400;
        margin: 0;
    }

    &__btn {
        transform: rotate(270deg);
        padding: 11px 110px;
        position: absolute;
        right: -193px;
        top: 141px;
        max-width: 334px;
        box-shadow: inset 0 24px 43px -23px #121428;
        color: rgba(255, 255, 255, 0.7);
        background-color: @purple;

        &:hover {
            background-color: #1d2047;
            color: @white;
        }

        &:active {
            background-color: @purple_light;
            color: rgba(255, 255, 255, 0.4);
        }

        &_pink {
            background-color: @pink;
            box-shadow: inset 0 24px 43px -23px #771f32;

            &:hover {
                background-color: @pink_dark;
            }
        }
    }
}

@media(max-width:@screen_tablet) {

    .direction-item {
        padding-top: 36px;
        padding-bottom: 36px;
        background-image: linear-gradient(to right, transparent 12%, @grey 12%);

        &__photo {
            width: 185px;
            height: 185px;
            margin-left: -18px;
        }

        &::after {
            width: 148px;
            height: 345px;
            left: -56px;
            top: -3px;
        }

        &__btn {
            padding: 11px 89px;
            right: -173px;
            top: 119px;
        }

        &__description {
            max-width: 488px;
        }
    }
}

.video {
    .container();
    background-color: @white;
    background-image: url('../img/pink-back-rotate.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 102%;
    padding-top: 23px;
    padding-bottom: 30px;

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        list-style: none;
        padding: 0;
        margin-bottom: 10px;
        margin-top: 75px;
        margin-left: auto;
        max-width: 322px;
    }

    &__link-item {
        width: 41px;
        height: 25px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-size: 0;
        opacity: 0.6;
        cursor: pointer;

        &_vk-link {
           background-image: url('../img/vk-icon-pink.svg');
        }

        &_youtube-link {
            background-image: url('../img/youtube-icon-pink.svg');
        }

        &:hover {
            opacity: 1;
            transition: 0.3s;
        }

        &:active {
            opacity: 0.3;
        }
    }

    &__heading {
        transform: rotate(-4deg);
    }

    &__btn {
        padding: 3px 20px;
        padding-bottom: 4px;
        text-transform: none;
        position: relative;

        &::after {
            content: '';
            width: 0;
            height: 0;
            border: 19px solid transparent;
            border-left: 23px solid @pink;
            position: absolute;
            top: 0;
            right: -42px;
        }
    }
}

@media(max-width:@screen_tablet) {
    .video {
        padding-top: 0;
        padding-bottom: 7px;

        &__links {
            margin-top: 20px;
        }
    }
}

.timetable {
    .container();
    background-color: @white;
    background-image: url('../img/purple-back.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 102%;
    padding-top: 23px;
    padding-bottom: 23px;

    &__heading {
        transform: rotate(-3deg);
    }
}

@media(max-width:@screen_tablet) {
    .timetable {
        padding-top: 4px;

        &__heading {
            transform: rotate(-4px);
        }
    }
}

.contacts {
    .container();
    background-color: @white;
    background-image: url('../img/pink-back-rotate.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 102%;
    padding-top: 13px;
    font-size: 20px;
    padding-bottom: 50px;

    &__heading {
        transform: rotate(-4deg);
    }

    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 140px;
    }

    &__items {
        max-width: 560px;
    }

    &__item {
        margin-bottom: 33px;
        margin-top: 0;
    }

    &__link {
        font-weight: 400;
    }
}

@media(max-width:@screen_tablet) {
    .contacts {
        padding-top: 2px;
        padding-bottom: 0;

        &__wrapper {
            margin-top: 53px;
        }

        &__items {
            max-width: 320px;
        }
    }
}

.footer {
    .container();
    background-color: @white;
    background-image: url('../img/footer.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 102%;
    padding-top: 80px;
    padding-bottom: 10px;

    &__social-item-link {
        text-decoration: none;
        width: 62px;
        height: 62px;
        border: 3px solid @purple;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
        opacity: 0.8;
        transition: opacity 0.3s linear;

        &_vk {
            background-image: url('../img/vk-icon-purple.svg');
        }

        &_youtube {
            background-image: url('../img/youtube-icon-purple.svg');
        }

        &_phone {
           background-image: url('../img/phone-icon-purple.svg');
        }

        &:hover {
            opacity: 1;
        }

        &:active {
            opacity: 0.5;
        }
    }

    &__social-items {
        display: flex;
        flex-flow: row nowrap;
        list-style: none;
        padding: 0;
    }
}

@media(max-width:@screen_tablet) {
    .footer {
        padding-top: 34px;
    }
}

.footer-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 63px;

    &__items {
        display: flex;
        flex-flow: row wrap;
        padding: 0;
        list-style: none;
        font-size: 18px;
        max-width: 312px;
        justify-content: space-between;
        -webkit-transition-property: background;
        -moz-transition-property: background;
        -o-transition-property: background;
        transition-property: background;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        -moz-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        transition-timing-function: linear;
    }

    &__link {
        text-decoration: none;
        color: @purple;

        &:hover {
            color: @pink;
        }

        &:active {
            opacity: 0.8;
        }
    }

    &__logo {
        cursor: pointer;
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        -moz-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        transition-timing-function: linear;

        &:hover {
            opacity: 0.8;

        }

        &:active {
            opacity: 0.5;
        }
    }
}

@media(max-width:@screen_tablet) {
    .footer-nav {
        justify-content: space-around;
        margin-top: 54px;

        &__items {
            flex-wrap: nowrap;
            min-width: 794px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

.copyright {
    text-align: center;
    font-size: 14px;
    margin-right: 85px;
    margin-top: 0;
}

@media(max-width:@screen_tablet) {
    .copyright {
        margin-right: 0;
        font-size: 16px;
    }
}


