@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'common';
@import 'animation';
@import 'components/controls/paginator';
@import 'components/controls/btn';
@import 'components/controls/close-btn';
@import 'components/timetable';
@import 'components/modal-post-form';
@import 'components/alert';
@import 'components/direction-item';
@import 'components/social-item';
@import 'components/map';

.page-header {
    .container();
    position: relative;
    background: url('../img/white-cover.svg') no-repeat bottom center,
                url('../img/main-desktop.jpg') no-repeat top center,
                @white;
    background-size: 101%, cover;
    padding-top: 423px;
    padding-bottom: 526px;
    animation: fade-in 1.4s ease;

    &__logo {
        position: absolute;
        left: 214px;
        top: 181px;
        transform: rotate(-1deg);
        animation: fade-in 1.5s ease-in;
    }
}

@media (max-width: 1170px) {
    .page-header {
        background-size: 103%, cover;
        padding-top: 240px;
        padding-bottom: 426px;

        &__logo {
            left: 13%;
            top: 14%;
            width: 368px;
        }
    }
}

@media (max-width: @screen_tablet) {

    .page-header {
        padding-top: 311px;
        padding-bottom: 222px;
        background: url('../img/white-cover.svg') no-repeat center bottom,
                    url('../img/main-tablet.jpg') no-repeat center 53%;
        background-size: 101%, 100%;


        &__logo {
            width: 40%;
            height: 96%;
            left: 66px;
            top: -61px;
        }
    }
}

@media (max-width: 650px) {
    .page-header {
        padding-top: 343px;
        padding-bottom: 121px;

        &__logo {
            width: 41%;
            height: 96%;
            left: 51px;
            top: -41px;
        }
    }
}

@media (max-width: 472px) {

    .page-header {
        padding-top: 220px;
        padding-bottom: 100px;
        background-image: url('../img/white-cover.svg'), none;

        &__logo {
            width: 83%;
            height: 96%;
            left: 27px;
            top: 13px;
        }
    }
}

.main-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 16px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/header.min.svg') no-repeat top center;
    background-size: 103%;

    &__items {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        color: @white;
        padding-left: 0;
        margin: 0;
        margin-right: -148px;
        transform: rotate(-2deg);

    }

    &__menu-open {
        display: none;
    }

    &__link {
        text-decoration: none;
        color: @white;
        font-family: 'PT Serif', 'Times New Roman', serif;
        font-size: 1.1em;
        padding: 15px 30px;
        -webkit-transition: color 0.2s linear;
        -moz-transition: color 0.2s linear;
        -o-transition: color 0.2s linear;
        transition: color 0.2s linear;
        animation: fade-in 1.2s ease-in;

        &:hover {
            color: rgba(255, 255, 255, 0.5);
        }

        &:active {
            color: @purple;
        }
    }

    &__item {
        margin-bottom: 20px;
    }

    &__social-items {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        list-style: none;
        transform: rotate(-6deg);
        margin-left: -152px;
    }
}

@media (max-width: 1180px) {

    .main-nav {
        background-size: cover;

        &__items {
            margin-right: 0;
            justify-content: space-around;
        }

        &__social-items {
            margin-left: 0;
        }
    }
}

@media (max-width: 832px) {

    .main-nav {

        &__items {
            position: absolute;
            left: 0;
            top: 76px;
            width: 100%;
            transform: rotate(0);
            z-index: 2000;
            display: none;
        }

        &__items_show {
            display: inline-block;
        }

        &__item {
            margin-bottom: 0;
            display: flex;
        }

        &__link {
            background-color: @pink;
            padding: 32px;
            width: 100%;
            font-size: 1.8em;
            text-align: center;
            border-bottom: 2px solid @pink_dark;
            animation: none;

            &:active {
                background-color: @pink_dark;
                color: @purple;
            }
        }

        &__social-items {
            visibility: hidden;
        }

        &__menu-open {
            display: block;
            width: 60px;
            height: 38px;
            position: absolute;
            top: 18px;
            right: 5%;
            z-index: 1500;
            background-color: @pink;
            border: none;
            outline: none;

            &_bar {
                display: block;
                width: 50px;
                height: 4px;
                margin-bottom: 7px;
                background-color: @white;
            }
        }

        &__menu-open_hidden {
            z-index: 1200;
        }
    }
}

@media (max-width: 472px) {

    .main-nav {
         background-size: 266%;

        &__menu-open {
            width: 48px;
            height: 27px;
            top: 9px;
            right: 18px;

            &_bar {
               width: 40px;
               height: 3px;
            }
        }

        &__items_show {
            top: 38px;
        }

        &__link {
            font-size: 1.3em;
        }
    }
}

.promo {
    .container();
    background: url('../img/promo-desktop.png') no-repeat, @white;
    background-position-x: 86%;
    background-size: 44%;
    padding-top: 108px;
    padding-bottom: 38px;
    position: relative;


    &__wrapper {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        margin-left: 52px;
    }

    &__description {
        font-size: 1.2em;
        line-height: 1.6em;
    }

    &__title {
        font-family: 'PT Serif', 'Times New Roman', serif;
        font-size: 2.3em;
        line-height: 1.3em;
        font-weight: 400;
        margin-top: 23px;
    }


    &::after {
        content: '';
        width: 182px;
        height: 135px;
        background: url('../img/quotes-pink.svg') no-repeat center;
        background-size: cover;
        position: absolute;
        top: -61px;
        left: 55px;
        animation: fade-in-down 1s;
    }

    &::before {
        content: '';
        width: 182px;
        height: 135px;
        background: url('../img/quotes-purple.svg') no-repeat center;
        background-size: cover;
        position: absolute;
        bottom: -149px;
        left: 42%;
        animation: fade-in-down 1.5s;
    }
}


@media (max-width: 1180px) {

    .promo {
        background-position-x: 100%;
        background-position-y: 55%;
        background-size: 46%;
        padding-top: 82px;
        padding-bottom: 0;

        &__wrapper {
            margin-left: 0;
        }
    }
}

@media (max-width: 908px) {

    .promo {
        background-image: none;
        padding-left: 20px;
        padding-right: 20px;

        &__wrapper {
            align-items: center;
            text-align: center;
        }

        &__description {
            font-size: 1.1em;
        }

        &::before {
            display: none;
        }
    }
}

@media (max-width: 832px) {

    .promo {
        padding: 30px 10px 0;

        &__title {
            font-size: 1.8em;
        }

        &__wrapper {
            margin-left: 0;
        }

        &::after {
            width: 150px;
            height: 106px;
        }

        &::before {
            width: 150px;
            height: 112px;
            bottom: -61px;
        }
    }
}

@media (max-width: 472px) {

    .promo {
        padding-top: 0;

        &::after {
            width: 287px;
            height: 219px;
            opacity: 0.1;
            top: 18px;
            left: 40px;
            animation: none;
        }

        &__title {
            font-size: 1.3em;
            line-height: 1.4em;
            text-align: center;
        }

        &__description {
            font-size: 0.8em;
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
        }

        &__wrapper {
            align-items: center;
        }
    }
}

@media (max-width: 352px) {

    .promo {

        &__title {
            font-size: 1.17em;
        }

        &__description {
            font-size: 0.71em;
        }

        &::after {
            left: 11px;
        }
    }
}

.about-me {
    .container();
    background: url('../img/pink-back.svg') no-repeat top center, @white;
    background-size: 102%;
    padding-top: 70px;
    padding-bottom: 35px;
    padding-right: 40px;

    &__link {
        text-decoration: underline;
    }

    &__heading {
        text-align: right;
        transform: rotate(-6deg);
        margin-top: 56px;
    }

    &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 50px;
        background-image: linear-gradient(to right, transparent 24%, @grey 24%);
        box-shadow: 24px 0 43px -23px #8b8b8b;
    }

    &__photo {
        width: 650px;
        height: 650px;
        border-radius: 50%;
        background: url('../img/about-desktop.jpg') no-repeat center;
        background-size: cover;
        -webkit-transition: background-image 0.5s linear;
        -o-transition: background-image 0.5s linear;
        transition: background-image 0.5s linear;

        &:hover {
           background-image: url('../img/about-desktop-hover.jpg');
           -moz-animation: fade-in 0.6s ease-in-out;
        }
    }

    &__description {
        max-width: 544px;
        margin-right: 56px;
        margin-left: 30px;
    }

    &__title {
        font-size: 1.8em;
        line-height: 1.6em;
        font-family: 'PT Serif', 'Times New Roman', serif;
        font-weight: 400;
        color: #0f1014;
        margin: 0;
    }
}

@media (max-width: 1320px) {

    .about-me {
        padding-left: 40px;

        &__photo {
            width: 550px;
            height: 550px;
        }

        &__heading {
            margin-top: 20px;
        }
    }

}

@media (max-width: 1180px) {

    .about-me {
        &__wrapper {
            margin-top: 20px;
            padding-top: 44px;
            padding-bottom: 0;
            background-image: none;
            box-shadow: none;
        }

        &__photo {
            width: 335px;
            height: 600px;
            background-image: url('../img/about-tablet.jpg');
            background-size: contain;
            border-radius: 0;

            &:hover {
               background-image: url('../img/about-tablet.jpg');
            }
        }

        &__description {
            margin-right: 0;
            max-width: 850px;
        }

        &__heading {
            margin-top: 10px;

            @media(max-width: 925px) {
                margin-top: -4px;
            }

            @media(max-width: 833px) {
                margin-top: -11px;
            }
        }
    }
}

@media (max-width: @screen_tablet) {

    .about-me {
        background-image: none;
        padding: 25px 0 0;

        &__photo {
            width: 90%;
            height: 650px;
            order: 2;
            border-radius: 0;
        }

        &__wrapper {
            margin-top: 10px;
            padding-top: 0;
            justify-content: center;
            flex-wrap: wrap;
        }

        &__heading {
            margin-top: 0;
            transform: none;
            text-align: center;
            width: 100%;
        }

        &__title {
            margin-top: 25px;
        }

        &__description {
            max-width: 90%;
            margin-right: 0;
            margin-left: 0;
            text-align: center;
        }
    }
}

@media (max-width: 522px) {

    .about-me {
        &__photo {
            width: 200px;
            height: 200px;
            background-size: cover;
            order: 1;
            border-radius: 50%;
            margin-right: 0;
            background-image: url('../img/about-mobile.jpg');
            margin-top: 20px;

            &:hover {
               background-image: url('../img/about-mobile.jpg');
            }
        }

        &__description {
            order: 2;
        }

        &__wrapper {
            margin-top: 0;
        }
    }
}

@media (max-width: @screen_mobile) {

    .about-me {

        &__title {
            margin-top: 10px;
            font-size: 1.4em;
            line-height: 1.4em;
        }

        &__description {
            margin-left: 0;
            margin-right: 0;
            padding: 0 10px;
            max-width: 98%;
        }

        &__text {
            font-size: 0.8em;
            line-height: 1.5em;
        }

        &__wrapper {
            flex-flow: row wrap;
            justify-content: center;
            box-shadow: none;
            text-align: center;
            margin-top: 15px;
        }
    }
}

.directions {
    .container();
    background: url('../img/purple-back.svg') no-repeat top center, @white;
    background-size: 102%;
    padding-top: 23px;
    padding-bottom: 15px;

    &__heading {
        transform: rotate(-4deg);
        margin: 0;
    }

    &__wrapper {
        margin-top: 95px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-right: 46px;
    }
}

@media (max-width: @screen_laptop) {

    .directions {
        padding-top: 6px;
    }
}

@media (max-width: 960px) {

    .directions {
        &__wrapper {
            margin-right: 0;
        }
    }
}

@media (max-width: @screen_tablet) {

    .directions {
        padding-top: 6px;
        padding-left: 0;
        padding-right: 0;
        background-image: none;

        &__heading {
            margin-left: 0;
            transform: rotate(0);
            text-align: center;
            background-color: @purple;
        }

        &__wrapper {
            margin-top: 27px;
            margin-right: 0;
        }
    }
}

.video {
    .container();
    background: url('../img/pink-back-rotate.svg') no-repeat top center, @white;
    background-size: 102%;
    padding-top: 23px;
    padding-bottom: 30px;

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        list-style: none;
        padding: 0;
        margin-bottom: 10px;
        margin-top: 75px;
        margin-left: auto;
        width: 115px;
    }

    &__link-item {
        width: 41px;
        height: 25px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-size: 0;
        opacity: 0.6;
        cursor: pointer;

        &_vk-link {
           background-image: url('../img/vk-icon-pink.svg');
        }

        &_youtube-link {
            background-image: url('../img/youtube-icon-pink.svg');
        }

        &:hover {
            opacity: 1;
            transition: 0.3s;
        }

        &:active {
            opacity: 0.3;
        }
    }

    &__btn {
        padding: 3px 20px 4px;
        text-transform: none;
        position: relative;
        bottom: -108px;

        &::after {
            content: '';
            width: 0;
            height: 0;
            border: 19px solid transparent;
            border-left: 23px solid @pink;
            position: absolute;
            top: 0;
            right: -42px;
        }
    }

    &__heading {
        transform: rotate(-4deg);
    }
}

@media (max-width:@screen_laptop) {

    .video {
        padding-top: 15px;

        &__links {
            margin-top: 12px;
        }

        &__btn {
            bottom: -53px;
        }
    }
}

@media (max-width: @screen_tablet) {

    .video {
        padding: 0 0 7px;
        background-image: none;

        &__links {
            margin-top: 20px;
        }

        &__btn {
            bottom: -57px;
            left: 17px;
        }

        &__heading {
            transform: rotate(0);
            text-align: center;
            width: 100%;
        }
    }
}

@media (max-width: 680px) {

    .video {

        &__btn {
            padding: 0 8px 0;
            bottom: -5px;
            left: 7px;
            margin-top: 14px;

            &::after {
                display: none;
            }
        }

        &__link-item_vk-link,
        &__link-item_youtube-link {
            display: none;
        }

        &__links {
            justify-content: flex-end;
            margin-top: 3px;
        }
    }
}

.timetable {
    .container();
    background: url('../img/purple-back.svg') no-repeat top center, @white;
    background-size: 102%;
    padding-top: 23px;
    padding-bottom: 23px;

    &__heading {
        transform: rotate(-3deg);
    }
}

@media (max-width: @screen_laptop) {

    .timetable {
        padding-top: 10px;
    }
}

@media (max-width: 824px) {

    .timetable {
        text-align: center;
        padding: 4px 0 20px;
        background-image: none;

        &__heading {
            transform: rotate(0);
            background-color: @purple;
            text-align: center;
        }
    }
}

.contacts {
    .container();
    background: url('../img/pink-back-rotate.svg') no-repeat top center, @white;
    background-size: 102%;
    padding-top: 13px;
    font-size: 1.06em;
    padding-bottom: 25px;

    &__heading {
        transform: rotate(-3deg);
        margin-top: 10px;
    }

    &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 96px;
    }

    &__items {
        max-width: 560px;
    }

    &__item {
        margin-bottom: 33px;
        margin-top: 0;
    }

    &__link {
        font-weight: 400;
    }
}

@media (max-width: 1180px) {

    .contacts {

        &__wrapper {
            flex-flow: row wrap;
            justify-content: center;
            margin-top: 78px;
            text-align: center;
        }

        &__items {
            max-width: 90%;
        }

        &__map {
            width: 100%;
        }

        &__heading {
            margin-top: 0;
        }
    }
}

@media (max-width: @screen_tablet) {

    .contacts {
        padding: 2px 0 0;
        background-image: none;
        margin-top: 0;


        &__wrapper {
            margin-top: 42px;
        }

        &__items {
            text-align: center;
            margin: 0 auto;
        }

        &__item {
            margin-bottom: 23px;
        }

        &__heading {
            transform: rotate(0);
            text-align: center;
        }
    }
}

@media (max-width: 680px) {

    .contacts {

        &__wrapper {
            margin-top: 10px;
        }

        &__item {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: @screen_mobile) {

    .contacts {

        &__items {
            max-width: 325px;
            font-size: 0.8em;
        }

        &__item {
            line-height: 1.5em;
        }
    }
}

@media (max-width: 350px) {

    .contacts {
        &__items {
            max-width: 294px;
        }
    }
}

.footer {
    .container();
    background: url('../img/footer.svg') no-repeat top, @white;
    background-size: 102%;
    padding-top: 80px;
    padding-bottom: 10px;

    &__social-item-link {
        text-decoration: none;
        width: 62px;
        height: 62px;
        border: 3px solid @purple;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
        opacity: 0.8;
        transition: opacity 0.3s linear;

        &_vk {
            background-image: url('../img/vk-icon-purple.svg');
        }

        &_youtube {
            background-image: url('../img/youtube-icon-purple.svg');
        }

        &_phone {
           background-image: url('../img/phone-icon-purple.svg');
        }

        &:hover {
            opacity: 1;
        }

        &:active {
            opacity: 0.5;
        }
    }

    &__social-items {
        display: flex;
        flex-flow: row nowrap;
        list-style: none;
        padding: 0;
    }
}

@media (max-width: 1180px) {

    .footer {
        background-image: none;
        padding-top: 0;
    }
}

@media (max-width: @screen_mobile) {

    .footer {
        padding-top: 1px;
        padding-bottom: 15px;
        background-image: none;
    }
}

.footer-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 63px;

    &__items {
        display: flex;
        flex-flow: row wrap;
        padding: 0;
        list-style: none;
        font-size: 1em;
        max-width: 312px;
        justify-content: space-between;
        -webkit-transition: background 0.2s linear;
        -moz-transition: background 0.2s linear;
        -o-transition: background 0.2s linear;
        transition: background 0.2s linear;
    }

    &__link {
        text-decoration: none;
        color: @purple;

        &:hover {
            color: @pink;
        }

        &:active {
            opacity: 0.8;
        }
    }

    &__logo {
        cursor: pointer;
        -webkit-transition: opacity 0.2s linear;
        -moz-transition: opacity 0.2s linear;
        -o-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.5;
        }
    }
}

@media (max-width: 1180px) {

    .footer-nav {
        margin-top: 0;
    }
}

@media (max-width: @screen_tablet) {

    .footer-nav {
        justify-content: space-around;
        margin-top: 20px;

        &__items {
            min-width: 97%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 680px) {

    .footer-nav {
        margin-top: 27px;

        &__items {
            display: none;
        }
    }
}

.copyright {
    text-align: center;
    font-size: 0.7em;
    margin-right: 85px;
    margin-top: 0;
}

@media (max-width: @screen_tablet) {

    .copyright {
        margin-right: 0;
        font-size: 0.8em;
    }
}
