@import 'variables';


.container() {
    width: @container_desktop;
    margin: 0 auto;
    padding: 0 80px;

    @media (max-width: @screen_tablet) {
        width: @container_tablet;
    }

    @media (max-width: @screen_mobile) {
        width: @container_mobile;
        padding: 0 20px;
    }
}
