@screen_mobile: 425px;
@screen_tablet: 846px;
@screen_laptop: 1024px;
@screen_desktop: 1440px;

@alert-width: 600px;
@post-form-width: 652px;

/* colors */
@white: #ffffff;
@black: #000000;
@pink: #e23a59;
@pink_dark: #cc3253;
@purple: #272961;
@purple_light: #2f3475;
@grey: #f2f2f2;
@grey_dark: #e3e3e3;
