/* Screen sizes */

@screen_mobile: 425px;
@screen_tablet: 846px;
@screen_laptop: 1024px;
@screen_desktop: 1440px;

/* Popups sizes */

@alert-width: 600px;
@post-form-width: 652px;

/* Colors */

@white: #ffffff;
@main-background-color: #fafafa;
@black: #000000;
@pink: #e23a59;
@pink_dark: #cc3253;
@purple: #272961;
@purple_light: #2f3475;
@grey: #f2f2f2;
@grey_dark: #e3e3e3;
@grey_darkest: #757575;
@overlay-color: rgba(0, 0, 0, 0.4);
@font-base-color: #110a0a;
@font-table-color: #757575;

/* Fonts */

@base-font: 'PT Serif', 'Times New Roman', serif;
@additional-font: 'PT Sans', 'Arial', sans-serif;
