@screen_mobile: 420px;
@screen_tablet: 768px;
@screen_desktop: 1440px;

@container_mobile: 380px;
@container_tablet: 768px;
@container_desktop: 1440px;


//*---------colors-----------*\\

@white: #ffffff;
@black: #000000;
@pink: #e23a59;
@pink_dark: #cc3253;
@purple: #272961;
@purple_light: #2f3475;
@grey: #f2f2f2;
@grey_dark: #e3e3e3;
