@import 'controls/btn';
@import '../variables';
@import 'overlay';

.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 652px;
    margin-top: -280px;
    margin-left: -329px;
    overflow: hidden;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    z-index: 2100;
    padding-bottom: 30px;
    text-align: center;
    background-image: linear-gradient(180deg, @purple 46%, @white 46%);
    display: none;

    &_error {
        background-image: linear-gradient(180deg, @pink 46%, @white 46%);
    }

    &__icon {
        display: inline-block;
        vertical-align: middle;
        width: 135px;
        height: 135px;
        background: url('../img/success.svg') no-repeat top center;
        background-size: contain;

        &_error {
            background: url('../img/error.svg') no-repeat top center;
        }
    }

    &__btn {
        border: none;
        border-radius: 3px;
        padding: 7px 57px;
        cursor: pointer;

        &_success {
            background-color: @purple;

            &:hover {
                background-color: #272961;
            }

            &:active {
                background-color: #2f3475;
            }
        }
    }

    &__title {
        text-transform: uppercase;
        margin: 20px auto 0;
    }

    &__message {
        margin-top: 5px;
        padding: 0 5px 0;
    }
}

@media (max-width: @screen_tablet) {

    .alert {
        margin-left: -44%;
        position: absolute;
        width: 90%;
        top: 83%;
    }
}

@media (max-width: @screen_mobile) {

    .alert {
        margin-top: 10%;
        margin-left: -50%;
        position: absolute;
        top: 73%;
        left: 55%;
        background-image: linear-gradient(180deg, @purple 42%, @white 42%);

        &_error {
            background-image: linear-gradient(180deg, @pink 42%, @white 42%);
        }

        &__message {
            font-size: 16px;
            line-height: 19px;
        }

        &__icon {
            width: 100px;
            height: 100px;
        }
    }
}

.alert_show {
    display: block;
}
