@import'../variables/';

.map {
    width: 685px;
    height: 408px;

    @media(max-width:@screen_tablet) {
        width: 343px;
        height: 383px;
    }

    @media(max-width: 742px) {
        width: 100%;
        height: 383px;
    }

    @media(max-width:@screen_mobile) {
        width: 100%;
        height: 300px;
    }
}
