@import'../variables/';

.map {
    width: 711px;
    height: 326px;

    @media(max-width:@screen_tablet) {
        width: 420px;
        height: 400px;
    }

    @media(max-width:@screen_mobile) {
        width: 340px;
        height: 300px;
    }
}
